kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-config
data:
  nginx.conf: >
    # For more information on configuration, see:
    #   * Official English Documentation: http://nginx.org/en/docs/
    #   * Official Russian Documentation: http://nginx.org/ru/docs/
    
    
    worker_processes auto;
    error_log /var/log/nginx/error.log;
    pid /run/nginx.pid;
    
    # Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
    include /usr/share/nginx/modules/*.conf;
    
    events {
        worker_connections 1024;
    }
    
    http {
        # perl_modules /opt/app-root/etc/perl;
        # perl_require Version.pm;
        # perl_set $perl_version Version::installed;
    
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';
    
    
        sendfile            on;
        tcp_nopush          on;
        tcp_nodelay         on;
        keepalive_timeout   65;
        types_hash_max_size 2048;
    
        include             /etc/nginx/mime.types;
        default_type        application/octet-stream;
    
        # Load modular configuration files from the /etc/nginx/conf.d directory.
        # See http://nginx.org/en/docs/ngx_core_module.html#include
        # for more information.
        include /opt/app-root/etc/nginx.d/*.conf;
    
        # si nadie busca la imagen por 5d, se borra
        # se alguien busca la imagen cacheada, vuelven a correr los 5d de nuevo
        proxy_cache_path /tmp/nginx/cache/amzn levels=1:2 keys_zone=amzn:1m max_size=10g inactive=5d use_temp_path=off;
        #proxy_cache_path /tmp/nginx/cache/pmnt levels=1:2 keys_zone=pmnt:1m max_size=10g inactive=5d use_temp_path=off;    
    
        server {
    
            listen       8080 default_server;
            listen       [::]:8080 default_server;
            server_name  _;
            root         /opt/app-root/src;
    
            # Load configuration files for the default server block.
            include /opt/app-root/etc/nginx.default.d/*.conf;
            include /etc/nginx/cors.conf;
    
    	location / {
        }
    
    	location /provider {	
    		proxy_set_header X-Real-IP $remote_addr;
    		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    		proxy_set_header X-NginX-Proxy true;
    		#proxy_ssl_session_reuse off;
    		#proxy_cache_bypass $http_upgrade;
    		proxy_redirect off;
    		#proxy_set_header Host $host;
    		proxy_cache_revalidate on;
    		proxy_cache_min_uses 1;
    		# almacena la imagen por 12hs
            proxy_cache_valid 200 12h;
            proxy_cache_use_stale error timeout http_500 http_404;
            proxy_cache_background_update on;
            proxy_cache_lock on;
    		proxy_set_header Host s3-ceph.apps.k8s.cablevision-labs.com.ar;
    
    		location /provider/amzn {
    			proxy_pass https://s3-ceph.apps.k8s.cablevision-labs.com.ar/flow-sustentable-bucket/amzn;
    		    proxy_cache amzn;
    		}
    
        # para en un futuro tener "paramount" y cualquier otro proveedor de VODs
    		# location /provider/pmnt {
    		# 	proxy_pass https://s3-ceph.apps.k8s.cablevision-labs.com.ar/flow-sustentable-bucket/pmnt;
    		#     proxy_cache pmnt;
    		# }
    	}
    
        error_page 404 /404.html;
            location = /40x.html {
        }
    
        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
    
    # Settings for a TLS enabled server.
    #
    #    server {
    #        listen       443 ssl http2 default_server;
    #        listen       [::]:443 ssl http2 default_server;
    #        server_name  _;
    #        root         /opt/app-root/src;
    #
    #        ssl_certificate "/etc/pki/nginx/server.crt";
    #        ssl_certificate_key "/etc/pki/nginx/private/server.key";
    #        ssl_session_cache shared:SSL:1m;
    #        ssl_session_timeout  10m;
    #        ssl_ciphers PROFILE=SYSTEM;
    #        ssl_prefer_server_ciphers on;
    #
    #        # Load configuration files for the default server block.
    #        include /opt/app-root/etc/nginx.default.d/*.conf;
    #
    #        location / {
    #        }
    #
    #        error_page 404 /404.html;
    #            location = /40x.html {
    #        }
    #
    #        error_page 500 502 503 504 /50x.html;
    #            location = /50x.html {
    #        }
    #    }
    
    }
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-cors
data:
  cors.conf: >
    set $cors_origin  '';
    set $cors_methods '';
    set $cors_headers '';
    set $cors_max_age '';
    set $cors_vary    '';
    
    
    if ($http_origin) {
        set $cors_origin '*';
    }
    if ($request_method = 'OPTIONS') {
        set $cors_methods 'GET, POST, OPTIONS';
        set $cors_headers 'Authorization, Content-Type';
        set $cors_max_age '86400';
        set $cors_vary    'Accept-Encoding, Origin';
    }
    
    # This works because nginx will not return a header if its value is an empty string
    add_header 'Access-Control-Allow-Origin'  $cors_origin  always;
    add_header 'Access-Control-Allow-Methods' $cors_methods always;
    add_header 'Access-Control-Allow-Headers' $cors_headers always;
    add_header 'Access-Control-Max-Age'       $cors_max_age always;
    add_header 'Vary'                         $cors_vary    always;
    
    if ($request_method = 'OPTIONS') {
        return 200;
    }
---
apiVersion: v1
kind: Service
metadata:
  name: web-img-ceph
spec:
  selector:
    app: web-img-ceph
  ports:
    - port: 8080
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-img-ceph
  labels:
    app: web-img-ceph
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-img-ceph
  template:
    metadata:
      labels:
        app: web-img-ceph
    spec:
      containers:
        - name: web-img-ceph
          image: danieldocke/web-img-ceph:4.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: nginx-cors
              mountPath: /etc/nginx/cors.conf
              subPath: cors.conf
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-cors
          configMap:
            name: nginx-cors
        - name: nginx-config
          configMap:
            name: nginx-config
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: web-img-ceph
spec:
  host: web-img-ceph.primer-test.apps-crc.testing
  #host: lala.192.168.130.11.nip.io
  to:
    kind: Service
    name: web-img-ceph
    weight: 100
  port:
    targetPort: 8080
  wildcardPolicy: None
